<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>landing Page || User</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style.css">
    </head>
<body style="background-color: gold;">
    <h1><span style="color: green;">Welcome</span> to our shop | landing page <span id="btn-con"><a href="/login_user" target="_self"><button style="border: none;">Login</button></a> <button style="background-color:orange; border: none; color: wheat;">Guess</button></span></h1>
    
</body>
</html>