<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user profile || Page 1</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1>Edit User Profile | Admin</h1>
     <div class="container">
     <fieldset>
        <form action="/get_user/edit/<%= userData._id%>" method="post" id="userForm">
            <label for="">Name:</label>
            <input type="text" name="name" value="<%= userData.name%>">
            <label for="">Email:</label>
            <input type="text" name="email" value="<%= userData.email%>">
            <label for="">Password:</label>
            <input type="text" name="password" value="<%= userData.password%>">
            <button type="submit">Create</button>
        </form>
     </fieldset>
    </div>
    <script>
    </script>
</body>
</html>



















































